@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Nunito:400,700');

body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.125rem;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 3em;
}

th {
  text-align: left;
}

em {
  font-style: normal;
  font-weight: bold;
}
