@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Nunito:400,700');

body {
  font-family: 'Cabin', sans-serif;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
}

th {
  text-align: left;
}
